services:
  team13-app:
    build: .
    image: team13-grader:latest
    ports:
      - "${TEAM_PORT}:8000"
    volumes:
      - ./media:/app/media/team13
      # Persist ollama models
      - ollama_models:/root/.ollama/models
      - ./static:/app/static/team13
    env_file:
      - .env
    networks:
      - app404
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 6G
        reservations:
          memory: 4G

networks:
  app404:
    external: true
    name: app404_net

volumes:
  ollama_models:
    name: team13_ollama_models
